<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Produto - Consultar</title>
</head>
<body data-ng-app="DesafioApp">
	<h1>Consultar</h1>
	<div data-ng-controller="DefafioController as controller">
		<script src="lib/angular.min.js"></script>
		<script src="resources/desafioController.js"></script>	
		
		<div style="border: 1px solid black">
			<br>
			<label for="codigoID">Código do Produto: </label>
			<input type="text" id="codigoID" data-ng-model="controller.container.idProduto">
			<button type="button" data-ng-click="controller.recuperaProduto()">Pesquisar</button>	
		</div>
		<br>
		<br>
		<div style="border: 1px solid black">
			<br>
			<table border="1">
				<tr>
					<th>Código</th>
					<th>Nome</th>
					<th>Preço</th>
					<th>Estoque</th>
				</tr>
				<tr data-ng-repeat="item in controller.container.produtos">
					<td>{{item.idProduto}}</td>
					<td>{{item.nome}}</td>			
					<td>{{item.preco}}</td>
					<td>{{item.quantidade}}</td>			
				</tr>
			</table>
			
			<br><br>		
		{{controller.container.produtos}}
		</div>
	</div>	
</body>
</html>